[Unit]
Description=Reset services after yamui
DefaultDependencies=no
After=droid-hal-init.service
Before=systemd-user-sessions.service
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/reset_services_after_yamui
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
